#pathSymbol{


}
#path1 {

    stroke-dashoffset: 7% 7%;
    stroke-dasharray: 0 35%;
    animation: animation 3s linear forwards;
}

@keyframes animation {
    100% {
        stroke-dasharray: 7% 7%;
        stroke-dashoffset: 7%;

    }
}

#path2 {

    stroke-dashoffset: 7% 7%;
    stroke-dasharray: 0 35%;
    animation: animation2 3s linear forwards;
}

@keyframes animation2 {
    100% {
        stroke-dasharray: 7% 7%;
        stroke-dashoffset: 14%;

    }
}